<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Weather Query Dashboard</h1>

    <p>Total queries: <strong>{{ queries|length }}</strong></p>

    {% if queries %}
      <ul>
        {% for q in queries %}
          <li>
            {{ q.location.name }} — {{ q.get_metric_display }} — {{ q.target_year }}
            ({{ q.get_status_display }})
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No queries yet.</p>
    {% endif %}

    <h2>Status breakdown</h2>

    <canvas id="statusChart"  height="120"></canvas>
    {{ status_labels|json_script:"status-labels" }}
    {{ status_values|json_script:"status-values" }}

    <h2>Statistics over time</h2>
    {{ time_labels|json_script:"time-labels" }}
    {{ time_values|json_script:"time-values" }}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'weather/dashboard.js' %}"></script> 

    <canvas id="timeChart"  height="120"></canvas>


    <p>debug dates: {{ time_labels }}</p>
    <p>debug dates counts: {{ time_values }}</p>

  </body>
</html>